<div class="form-group">
  <mat-form-field class="form-full-line" [formGroup]="absenceForm">
    <input matInput
           [matDatepicker]="picker"
           placeholder="{{placeholder}}"
           [min]="startDate"
           formControlName="{{controlName}}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
</div>

