<div class="container" >
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Log in to admin panel</h2>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Login/Username</label>
          <input type="text" formControlName="login" class="form-control"/>
          <div *ngIf="submitted && login.invalid" class="invalid-feedback">
            <p> Login is required</p>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control"/>
          <div *ngIf="submitted && password.invalid" class="invalid-feedback">
            <p> Password is required</p>
          </div>
        </div>
        <label type="text" *ngIf="wrongCredentials">
          Your login or/and password aren't correct. Try again.
        </label>

        <app-submit-button [text]="'Sign in'"></app-submit-button>
      </form>
    </div>
  </div>
</div>
