<div class="container">
  <h2>Report your absence</h2>
  <div class="log-out-button">
    <app-log-out-button [text]="'Log out'"></app-log-out-button>
  </div>
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="absenceForm" (ngSubmit)="onSubmit()">
      <app-calendar [absenceForm]="absenceForm" [controlName]="'fromDate'" [placeholder]="'From what date'"></app-calendar>
      <app-calendar [absenceForm]="absenceForm" [controlName]="'toDate'" [placeholder]="'To what date'"></app-calendar>
      <div *ngIf="submitted && (toDate.invalid || fromDate.invalid)">
        <p>You need to pick a date for your absence</p>
      </div>

      <mat-divider></mat-divider>

      <app-time-picker [absenceForm]="absenceForm"></app-time-picker>
      <div *ngIf="submitted && (toTime.invalid || fromTime.invalid)">
        <p>You need to pick time range for your absence</p>
      </div>

      <mat-divider></mat-divider>

      <app-select-input [absenceForm]="absenceForm" [categories]="categories"></app-select-input>
      <div *ngIf="submitted && absenceCategory.invalid">
        <p>You need to choose cause of your absence</p>
      </div>

      <mat-divider></mat-divider>

      <div class="form-group">
        <mat-form-field class="form-full-line">
          <textarea matInput maxlength="500" placeholder="Additional info" formControlName="additionalInfo"></textarea>
        </mat-form-field>
      </div>

      <app-submit-button [text]="'Submit'"></app-submit-button>
    </form>
    <div class="alert-success" *ngIf="successPost">Your data was posted successfully</div>
  </div>
</div>
