<div class="form-group">
  <mat-form-field class="form-full-line" [formGroup]="absenceForm">
    <mat-select placeholder="Category of absence" formControlName="absenceCategory">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
