<div class="container justify-content-center">
  <h3>Choose search options</h3>
  <div class="log-out-button">
    <app-log-out-button [text]="'Log out'"></app-log-out-button>
  </div>
  <div class="col-md-6 offset-md-5">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <app-selection-list [searchForm]="searchForm" [allUsers]="allUsers"></app-selection-list>

      <app-calendar [searchForm]="searchForm" [controlName]="'fromDate'" [placeholder]="'From what date'"></app-calendar>
      <app-calendar [searchForm]="searchForm" [controlName]="'toDate'" [placeholder]="'To what date'"></app-calendar>

      <app-submit-button [text]="'Search'"></app-submit-button>
    </form>
    <mat-divider></mat-divider>
    <app-result-table [searchResult]="searchResult"></app-result-table>
  </div>
</div>
