<div class="form-group" [formGroup]="absenceForm">
  <mat-form-field class="space">
    <input matInput type="time" placeholder="From" formControlName="fromTime">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="time" placeholder="To" formControlName="toTime">
  </mat-form-field>
</div>
