<div class="form-group" [formGroup]="searchForm">
  <mat-selection-list formControlName="users">
    <mat-list-option *ngFor="let user of allUsers" [value]="user"> {{user.name}} </mat-list-option>
  </mat-selection-list>
</div>
