<div class="form-group">
  <mat-form-field [formGroup]="searchForm">
    <input matInput
           formControlName="{{controlName}}"
           [matDatepicker]="picker"
           placeholder="{{placeholder}}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
