.my-table {
  min-width: 650px !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-login {
  min-width: 120px;
}

.mat-column-date {
  min-width: 90px;
}

.mat-column-absencePeriod {
  min-width: 100px;
  text-align: center;
}

.mat-column-category {
  min-width: 120px;
}

.mat-column-duration {
  min-width: 100px;
  text-align: center;
}

.mat-column-description {
  min-width: 130px;
}


