<mat-table #table class="mat-elevation-z8 my-table" *ngIf="formattedData && formattedData.length !== 0" [dataSource]="formattedData">
  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef> Login </th>
    <td mat-cell *matCellDef="let info">{{info.login}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let info">{{info.date}}</td>
  </ng-container>
  <ng-container matColumnDef="absencePeriod">
    <th mat-header-cell *matHeaderCellDef> Absence period </th>
    <td mat-cell *matCellDef="let info">{{info.absencePeriod}}</td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Absence category </th>
    <td mat-cell *matCellDef="let info">{{info.absenceCategory}}</td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Absence duration </th>
    <td mat-cell *matCellDef="let info">{{info.duration}}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Absence description </th>
    <td mat-cell *matCellDef="let info">{{info.additionalInfo}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
